:root {
  --white: #ffffff;
  --off-white: #e5e5e5;
  --transp-white-1: rgba(255, 255, 255, 0.25);
  --transp-white-2: rgba(255, 255, 255, 0.18);
  --blue-1: #62b8f5;
  --blue-2: #4475ef;
  --shadow: rgba(3, 46, 87, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('https://images.pexels.com/photos/3008509/pexels-photo-3008509.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Ensures the background image stays in place */
  color: rgb(5, 41, 51);
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  color: rgb(5, 41, 51);
  margin-bottom: 15px;
}

h2 {
  font-size: 2rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.container {
  width: 90%;
  max-width: 1200px; /* Limit the maximum width for large screens */
  background: var(--transp-white-2);
  backdrop-filter: blur(10px);
  margin: 5rem auto;
  padding: 2rem;
  border: 2px solid var(--transp-white-2);
  border-radius: 10px;
  color: rgb(5, 41, 51);
}

input, .btn::placeholder {
  background-color: transparent;
  padding: .5rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid white;
}

.btn {
  padding: .5rem 1rem;
  border: 2px solid #04009A;
  cursor: pointer;
  transition: .3s;
  color: var(--blue-2);
  background-color: transparent;
  border-radius: 0.3em;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: rgb(5, 41, 51);
  color: #fff;
}

.weather {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left, .right {
  flex: 1 1 100%;
  min-width: 300px;
  padding: .3rem;
  border-radius: 10px;
  background: var(--transp-white-2);
  backdrop-filter: blur(10px);
  margin-bottom: 1rem;
}

.left {
  border-radius: 10px 0 0 10px;
}

.right {
  border-radius: 0 10px 10px 0;
}

.icon {
  height: 85px;
  padding: .5rem;
  border-radius: 0 10px 0 0;
  color: #04009A;
}

.condition {
  height: 135px;
  border-radius: 0 0 10px;
  color: rgb(5, 41, 51);
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .container {
      width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  form {
      grid-template-columns: 1fr;
  }

  .container {
      text-align: center;
      width: 90%;
  }

  .right {
      margin-top: .5rem;
      margin-left: 0;
  }

  .weather {
      flex-direction: column;
      align-items: center;
  }
}
